body {
	background-color: #222222;
}

h1, h3 {
	text-align: center;
	font-family: 'Slabo 27px', serif;
}

.gray {
	background-color: #white;
	border: 3px solid #999988;
}

.gameLabel, .axisLabel {
	font-family: 'Slabo 27px', serif;
}

.specialLabel {
	font-family: Arial, sans-serif;
	font-style: italic;
}

footer {
	padding: 20px;
}

footer p {
	font-size: 12px;
	font-family: Arial, sans-serif;
}

#main{
	margin: auto;
	position:relative;
}

header, footer, svg {
	border: 1px solid black;
	display: block;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	border: 3px solid #888888;
	background-color: #ffffff;
}



#legend {
	margin-left: auto;
	margin-right: auto;
	float: left;
	position:absolute;
	background-color: #eeeeee;
	left: 12%;
	top: 6%;
	font-family: 'Slabo 27px', serif;
	z-index:2;
}

.axis path, .axis line{
	fill:none;
	stroke:#666666;
	stroke-width:2;
}

a { 
	color: #0000dd;
	cursor: pointer;
	text-decoration: underline;
}
a:hover { 
	color: #9999aa;
}
a:active {
	color: #333366;
}